<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Fradya Bahana - Services</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!--JS-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  
</head>
<body>
  <nav class="light-blue darken-4 white-text" role="navigation">
    <div class="nav-wrapper container white-text">
      <a id="logo-container" href="#" class="brand-logo">
        <img class="responsive-img" style="margin-top:2.5px; margin-bottom:2.5px;" src="images/logo.png" align="Fradya Bahana">
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="index.html" class="white-text">Home</a></li>
        <li><a href="#" class="white-text">About</a></li>
        <li><a href="products.html" class="white-text">Products</a></li>
        <li><a href="service.html" class="white-text">Services</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="index.html" class="light-blue-text">Home</a></li>
        <li><a href="#" class="light-blue-text">About</a></li>
        <li><a href="products.html" class="light-blue-text">Products</a></li>
        <li><a href="service.html" class="light-blue-text">Services</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse white-text"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="header center white-text">Our Services</h1>
          <h5 class="header col s12 light">We provide high quality services for your industry</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/background02.png" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">
      <h4 class="center">Service List</h4>
     <ul class="collapsible popout" data-collapsible="accordion">
         <li>
            <div class="collapsible-header"><img src="images/flasks.png" style="width: 30px;height: 30px; margin-top: 10px;" /><span class="pull-right">Chemicals Supply Management</span>               
            </div>
            <div class="collapsible-body"><p>This is second section.</p></div>
         </li>
         <li>
            <div class="collapsible-header"><img src="images/budget.png" style="width: 30px;height: 30px; margin-top: 10px;" /><span class="pull-right">Chemicals Supply Management</span>               
            </div>
            <div class="collapsible-body"><p>This is second section.</p></div>
         </li>
         <li>
            <!-- <div class="collapsible-header"><i class="material-icons">filter_drama</i>Chemicals Supply Management</div> -->
            <div class="collapsible-header"><img src="images/delivery-truck.png" style="width: 30px;height: 30px; margin-top: 10px;" /><span class="pull-right">Delivery Management</span></div>
            <div class="collapsible-body"><p>This is third section.</p></div>
         </li>
         <li>
            <!-- <div class="collapsible-header"><i class="material-icons">filter_drama</i>Chemicals Supply Management</div> -->
            <div class="collapsible-header"><img src="images/warehouse.png" style="width: 30px;height: 30px; margin-top: 10px;" /><span class="pull-right">Stock Management</span></div>
            <div class="collapsible-body"><p>This is third section.</p></div>
         </li>
         <li>
            <!-- <div class="collapsible-header"><i class="material-icons">filter_drama</i>Chemicals Supply Management</div> -->
            <div class="collapsible-header"><img src="images/cargo.png" style="width: 30px;height: 30px; margin-top: 10px;" /><span class="pull-right">Distribution Management</span></div>
            <div class="collapsible-body"><p>This is third section.</p></div>
         </li>
         <li>
            <!-- <div class="collapsible-header"><i class="material-icons">filter_drama</i>Chemicals Supply Management</div> -->
            <div class="collapsible-header"><img src="images/laboratory.png" style="width: 30px;height: 30px; margin-top: 10px;" /><span class="pull-right">Lab and Sample Management</span></div>
            <div class="collapsible-body"><p>This is third section.</p></div>
         </li>
         <li><!-- <div class="collapsible-header"><i class="material-icons">filter_drama</i>Chemicals Supply Management</div> -->
            <div class="collapsible-header"><img src="images/charity.png" style="width: 30px;height: 30px; margin-top: 10px;" /><span class="pull-right">HSE Management</span></div>
            <div class="collapsible-body"><p>This is third section.</p></div>
         </li>
         <li>
            <!-- <div class="collapsible-header"><i class="material-icons">filter_drama</i>Chemicals Supply Management</div> -->
            <div class="collapsible-header"><img src="images/5-stars-sign.png" style="width: 30px;height: 30px; margin-top: 10px;" /><span class="pull-right">Lab and Sample Management</span></div>
            <div class="collapsible-body"><p>This is third section.</p></div>
         </li>

      </ul>
    </div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
  </body>
</html>
