<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Fradya Bahana</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!--JS-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal').modal();

      $('#textarea1').trigger('autoresize');

      $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
      });

      $('select').material_select();
        
    });
  </script>
<body id="dashboard-body">
 
  <header>
    <nav class="light-blue darken-4 white-text" role="navigation">
    <div class="nav-wrapper container white-text">
      <a id="logo-container" href="#" class="brand-logo">
        Dashboard
      </a>
      <ul class="right hide-on-med-and-down">
        
        <li><a href="#" class="white-text">Home</a></li>
        <li><a href="service.html" class="white-text">Logout</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#" class="white-text">Home</a></li>
        <li><a href="service.html" class="white-text">Logout</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse white-text"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  </header>
  <section id="products-admin">
    <div class="container">
      <div style="padding: 30px;" class="card">
          <div class="row center">
          <h4>Edit Product</h4><br>
          <a style="margin-bottom: 20px;" class="waves-effect waves-light btn red" href="#" >Add new Product</a>
          <table class="striped highlight responsive-table centered">
          <thead>
            <tr>
                <th>Product Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Diethanolamine</td>
              <td><a class="waves-effect wave-light btn modal-trigger" href="#modal1">Show</a></td>
              <td><a class="waves-effect wave-light btn" href="#">Edit</a>
              <a class="waves-effect wave-light btn red" style="margin-left: 3px" href="#">Remove</a></td>
              <!-- Modal Structure -->
              <div id="modal1" class="modal">
                <div class="modal-content">
                  <h4>Diethanolamine</h4>
                  <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
              </div>
            </tr>
            <tr>
              <td>Diethylethanolamine</td>
              <td><a class="waves-effect wave-light btn" href="#modal2">Show</a></td>
              <td><a class="waves-effect wave-light btn" href="#">Edit</a>
              <a class="waves-effect wave-light btn red" style="margin-left: 3px" href="#">Remove</a></td>
              <!-- Modal Structure -->
              <div id="modal2" class="modal">
                <div class="modal-content">
                  <h4>Diethylethanolamine</h4>
                  <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
              </div>
            </tr>
            <tr>
              <td>Monoethanolamine</td>
              <td><a class="waves-effect wave-light btn" href="#modal3">Show</a></td>
              <td><a class="waves-effect wave-light btn" href="#">Edit</a>
              <a class="waves-effect wave-light btn red" style="margin-left: 3px" href="#">Remove</a></td>
              <!-- Modal Structure -->
              <div id="modal3" class="modal">
                <div class="modal-content">
                  <h4>Monoethanolamine</h4>
                  <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
              </div>
            </tr>
            <tr>
              <td>N,N-Dimethylethanolamine S</td>
              <td><a class="waves-effect wave-light btn" href="#modal4">Show</a></td>
              <td><a class="waves-effect wave-light btn" href="#">Edit</a>
              <a class="waves-effect wave-light btn red" style="margin-left: 3px" href="#">Remove</a></td>
              <!-- Modal Structure -->
              <div id="modal4" class="modal">
                <div class="modal-content">
                  <h4>N,N-Dimethylethanolamine S</h4>
                  <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
              </div>
            </tr>
            <tr>
              <td>Triethanolamine</td>
              <td><a class="waves-effect wave-light btn" href="#modal5">Show</a></td>
              <td><a class="waves-effect wave-light btn" href="#">Edit</a>
              <a class="waves-effect wave-light btn red" style="margin-left: 3px" href="#">Remove</a></td>
              <!-- Modal Structure -->
              <div id="modal5" class="modal">
                <div class="modal-content">
                  <h4>Triethanolamine</h4>
                  <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
              </div>
            </tr>
          </tbody>
        </table>
        <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
   <section id="service-admin">
    <div class="container">
      <div style="padding: 30px;" class="card">
        <div class="row center">
          <h4>Edit Service</h4><br>
          <a style="margin-bottom: 20px;" href="#" class="waves-effect waves-red btn red">Add New Service</a>

          <table class="striped highlight responsive-table centered">
          <thead>
            <tr>
                <th>Service Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Chemicals Supply Management</td>
              <td><a class="waves-effect wave-light btn" href="#">Show</a></td>
              <td><a class="waves-effect wave-light btn" href="#">Edit</a>
              <a class="waves-effect wave-light btn red" style="margin-left: 3px" href="#">Remove</a></td>
            </tr>
            <tr>
              <td>Cost Efficiency</td>
              <td><a class="waves-effect wave-light btn" href="#">Show</a></td>
              <td><a class="waves-effect wave-light btn" href="#">Edit</a>
              <a class="waves-effect wave-light btn red" style="margin-left: 3px" href="#">Remove</a></td>
            </tr>
            <tr>
              <td>Delivery Management</td>
              <td><a class="waves-effect wave-light btn" href="#">Show</a></td>
              <td><a class="waves-effect wave-light btn" href="#">Edit</a>
              <a class="waves-effect wave-light btn red" style="margin-left: 3px" href="#">Remove</a></td>
            </tr>
            <tr>
              <td>Stock Management</td>
              <td><a class="waves-effect wave-light btn" href="#">Show</a></td>
              <td><a class="waves-effect wave-light btn" href="#">Edit</a>
              <a class="waves-effect wave-light btn red" style="margin-left: 3px" href="#">Remove</a></td>
            </tr>
            <tr>
              <td>Distribution Management</td>
              <td><a class="waves-effect wave-light btn" href="#">Show</a></td>
              <td><a class="waves-effect wave-light btn" href="#">Edit</a>
              <a class="waves-effect wave-light btn red" style="margin-left: 3px" href="#">Remove</a></td>
            </tr>
            <tr>
              <td>Lab and Sample Management</td>
              <td><a class="waves-effect wave-light btn" href="#">Show</a></td>
              <td><a class="waves-effect wave-light btn" href="#">Edit</a>
              <a class="waves-effect wave-light btn red" style="margin-left: 3px" href="#">Remove</a></td>
            </tr>
            <tr>
              <td>HSE Management</td>
              <td><a class="waves-effect wave-light btn" href="#">Show</a></td>
              <td><a class="waves-effect wave-light btn" href="#">Edit</a>
              <a class="waves-effect wave-light btn red" style="margin-left: 3px" href="#">Remove</a></td>
            </tr>
            <tr>
              <td>Quality Management</td>
              <td><a class="waves-effect wave-light btn" href="#">Show</a></td>
              <td><a class="waves-effect wave-light btn" href="#">Edit</a>
              <a class="waves-effect wave-light btn red" style="margin-left: 3px" href="#">Remove</a></td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div style="padding: 30px;" class="card">
        <div class="row center">
          <h4>Edit Konten</h4><br>
          <a class="waves-effect wave-light btn" href="#">About Us</a>
          <a class="waves-effect wave-light btn" href="#">Company Bio</a>
        </div>
      </div>
    </div>
  </section>
  <footer class="indigo page-footer">
    
    <div class="footer-copyright">
      <div class="container">
        <span>Made By <a style='font-weight: bold;' href="">Tirth Patel</a></span>
      </div>
    </div>
  </footer>
</body>

</html>